body {
    background-color:#F0F0F0;
    padding: 1em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    float: left;
    width: 50%;
    margin: 0 auto;
}
.rightcontainer{
    float: left;
    width: 50%;
    margin: 0 auto;
}

label {
    display:block;
    margin-bottom:10px;
}
.inputid {
    width: 24%;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}
.get{
	padding-top : 260px
}

.info {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
    
}

#loader {
    width: 100px;
    display:none;
}